
.nav-login-btn{
    cursor: pointer;
}



@media only screen and (max-width: 850px){
    .navbar-search{
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .nav-list{
        display: none;
    }
  
}